#link {
	font-size: 28px;
	padding: 15px;
}
#footnote {
	font-size: 18px;
	user-select: text;
}
#footnote > ol {
	margin: 0;
	padding: 0 80px;
}
#footnote li:target {
	font-size: 24px;
	color: #0cf;
}
#controls {
	font-size: 16px;
	margin-top: 10px;
}
#content > :nth-child(n) { /* former an-item */
	margin: 20px auto;
}
.panel {
	height: 540px;
	user-select: none;
}
.dialog {
	max-width: 750px;
}
.dialog > tr > :first-child, .dialog > tr > :nth-child(2) {
	text-align: right;
	vertical-align: top;
	text-transform: uppercase;
	white-space: nowrap;
}
.dialog > tr > :last-child {
	text-align: left;
}
.spoiler {
	border: 10px dashed #0cf;
	padding: 10px;
}
.spoiler > button {
	border: 0;
	border-radius: 5px;
	background-color: #0cf;
	color: #000;
	cursor: pointer;
	font-family: Courier new, 微软雅黑 light;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	user-select: none;
}
.spoiler > button:hover {
	text-decoration: underline;
}
.spoiler > div {
	display: none;
}
