html {
	width: 100%;
}
body {
	background-color: #000;
	font-family: Courier New, 微软雅黑 light;
	font-weight: bold;
	margin: 0;
	overflow-y: scroll;
	user-select: none;
	width: 100%;
}
a {
	text-decoration: none;
	color: #0cf;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
a:visited {
	color: #0ac;
}
::selection {
	color: inherit;
	background-color: #aaa;
}
#topbar {
	min-width: 1024px;
	text-align: center;
	background-color: #000;
}
#menu {
	position: fixed;
	top: 10px;
	left: 10px;
}
#menu div {
	height: 50px;
	width: 50px;
	background-color: #fff;
	border: 8px solid #0cf;
	border-radius: 999px;
	margin: 15px;
	cursor: pointer;
	display: none;
}
#menu img {
	transition: .5s;
	width: 50px;
	height: 50px;
}
#menu > div:nth-child(1) {
	background-color: #0000;
	display: block;
}
#wrapper {
	background-color: #fff;
	border: 24px solid #0cf;
	margin: auto;
	width: 1000px;
}
#frame {
	width: 960px;
	margin: 0 auto 20px auto;
}
#content {
	font-size: 24px;
	text-align: center;
	user-select: text;
}
#switch-lang {
	margin-top: 20px;
	font-size: 16px;
}
#command {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	user-select: text;
}
@media only screen and (max-device-width: 480px) {
	html {
		width: 100%;
	}
	body {
		width: 100%;
	}
	#wrapper {
		margin: 0;
		width: 100%;
	}
	#frame {
		margin: 0;
		width: auto;
	}
}
