body {
	background-color: #5a5a5a;
	font-family: Courier New, 微软雅黑 light;
	font-weight: bold;
	margin: 0;
	overflow-y: scroll;
	user-select: none;
}
a {
	text-decoration: none;
	color: #0cf;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #0ac;
}
::selection {
	color: inherit;
	background-color: #a5a5a5;
}
#navbar {
	background-color: #5a5a5a;
	font-size: 16px;
	padding: 3px;
	text-align: center;
	position: sticky;
	top: 0;
	// background: url('backgroundimage');
}
#wrapper {
	background-color: #eee;
	margin: auto;
	width: 1000px;
}
#frame {
	width: 960px;
	margin: auto;
	padding-bottom: 20px;
}
#content {
	font-size: 24px;
	text-align: center;
	user-select: text;
}
#switch-lang {
	padding-top: 20px;
}
#command {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	user-select: text;
}
