html {
	width: 100%;
}
body {
	background-color: #000;
	font-family: Courier New, 微软雅黑 light;
	font-weight: bold;
	margin: 0;
	overflow-y: scroll;
	user-select: none;
	width: 100%;
}
a {
	text-decoration: none;
	color: #0cf;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
a:visited {
	color: #0ac;
}
::selection {
	color: inherit;
	background-color: #a5a5a5;
}
#navbar {
	min-width: 1024px;
	background-color: #000;
	font-size: 16px;
	color: #fff;
	text-shadow: #000 1px 1px 0;
	padding: 3px;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 999;
	// background: url('backgroundimage');
}
#navbar a {
	color: #0cf;
}
#wrapper {
	background-color: #fff;
	border: 12px solid #0cf;
	margin: auto;
	width: 1000px;
}
#frame {
	width: 960px;
	margin: auto;
	padding-bottom: 20px;
}
#content {
	font-size: 24px;
	text-align: center;
	user-select: text;
}
#switch-lang {
	padding-top: 20px;
	font-size: 16px;
}
#command {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	user-select: text;
}
@media only screen and (max-device-width: 480px) {
	html {
		width: 100%;
	}
	body {
		width: 100%;
	}
	#wrapper {
		margin: 0;
		width: 100%;
	}
	#frame {
		margin: 0;
		width: auto;
	}
}
