#content {
	text-align: left;
	column: 30% 3;
	font-size: 16px;
}
ul > li {
	margin: 10px;
}
div > ul {
	list-style: none;
}
.old-to-new:hover {
	cursor: pointer;
}
.flash::selection {
	background-color: #0cf;
	color: #fff;
}
.date {
	user-select: none;
}
